<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>J2EECourse</display-name>
  <welcome-file-list>
    <welcome-file>RF</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Registration</servlet-name>
    <servlet-class>Ch9No6.RegistrationForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/RF</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RS</servlet-name>
    <servlet-class>Ch9No6.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RS</servlet-name>
    <url-pattern>/registrationServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>OrderForm.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Show</servlet-name>
    <servlet-class>Ch9No8.ShowItems</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Show</servlet-name>
    <url-pattern>/stest</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>CurrentTime.jsp</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>time</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>CT</servlet-name>
    <servlet-class>Ch8No2.CurrentTime</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CT</servlet-name>
    <url-pattern>/time</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>Scriptlet.jsp</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>ExpressionTest.jsp</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>MathRamTest.jsp</welcome-file>
  </welcome-file-list>
</web-app>