<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Understand</display-name>
  <welcome-file-list>
    <welcome-file>Three.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>TP</servlet-name>
    <servlet-class>ThreeParams</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TP</servlet-name>
    <url-pattern>/Paramss</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>PrimeNumbers.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>PN</servlet-name>
    <servlet-class>PrimeNumberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PN</servlet-name>
    <url-pattern>/primeNumberServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>ShadowedText.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>sdt</servlet-name>
    <servlet-class>Generate.ShadowedText</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sdt</servlet-name>
    <url-pattern>/shadowText</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>visitor</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Repeat</servlet-name>
    <servlet-class>repeatVisitor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Repeat</servlet-name>
    <url-pattern>/visitor</url-pattern>
  </servlet-mapping>
</web-app>