<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Sayar Sithu Paing/src/IO/DataOutputStreamsExe.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="IO.DataOutputStreamsExe"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Sayar Sithu Paing"/>
</launchConfiguration>
